.Board {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  text-align: center;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.Tile {
  display: inline-grid;
  width: 200px;
  height: 200px;
  padding: 10px;
  background-color: #e67233;
  border: 1px solid #1122ab;
  border-radius: 100%;
  color: #e67233;
}

.divBoard {
  width: 600px;
  margin: 0 auto;
}

.Shape {
  color: #000;
}

.Win {
  display: inline-grid;
  width: 200px;
  height: 200px;
  padding: 10px;
  background-color: #abcd14;
  border: 1px solid #1122ab;
  color: red;
}